@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

*,*::after,*::before {
    font-family: 'Nanum Gothic Coding', Arial, Helvetica, sans-serif,
}
body {
    background-color: #ffe5d0;
}

.header {
    text-align: center;
}

.header-text {
    font-size: 4rem;
    font-weight: 300;
    color: #ff9a00;
}
